.img-hover {
    transition: all 0.5s;
  }
  
  .img-hover:hover {
    transform: scale(1.1);
  }

  .young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }

  #site-hero {
    background-image: url(./assets/banner_image.jpg);
    background-size: cover;
    background-position: center;
    height: 75vh;
    -webkit-text-stroke: 1px black;
  }