.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: white;
}

.nav-pills {
  --bs-nav-pills-border-radius: var(--bs-border-radius);
  --bs-nav-pills-link-active-bg: grey;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.img-hover {
  transition: all 0.5s;
}

.img-hover:hover {
  transform: scale(1.1);
}

#skills-list {
  .img-hover:hover {
    background-color: rgba(199, 199, 199, 0.651);
  }
}

.young-serif-regular {
  font-family: 'Young Serif', serif;
  font-weight: 400;
  font-style: normal;
}

.about-section {
  background-size: cover;
  background-position: center;
  height: 80vh;
}

#site-hero {
  font-weight: 800;
  background-image: url(./assets/banner_image.jpg);
  h1 {
    font-size: 46px;
  }
}

#about {
  background-image: url(./assets/AboutBackground.JPG);
}

#location {
  background-image: url(./assets/London.JPG);
}
